.elementor-940 .elementor-element.elementor-element-a542a45 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}

.elementor-940 .elementor-element.elementor-element-4b93929 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-940 .elementor-element.elementor-element-4b93929:not(.elementor-motion-effects-element-type-background),
.elementor-940 .elementor-element.elementor-element-4b93929>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-fe489dd);
}

.elementor-940 .elementor-element.elementor-element-cc838f4 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --border-radius: 13px 13px 13px 13px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-940 .elementor-element.elementor-element-d67f9ca {
    --display: flex;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-size: var( --e-global-typography-primary-font-size);
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-940 .elementor-element.elementor-element-4d125ca.elementor-element {
    --align-self: flex-start;
}

.elementor-940 .elementor-element.elementor-element-4d125ca .elementor-heading-title {
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-size: var( --e-global-typography-secondary-font-size);
    font-weight: var( --e-global-typography-secondary-font-weight);
    color: #FFFFFF;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var( --e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-940 .elementor-element.elementor-element-f37c6cd .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-940 .elementor-element.elementor-element-f37c6cd .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-940 .elementor-element.elementor-element-f37c6cd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    marginRight: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-940 .elementor-element.elementor-element-f37c6cd .elementor-icon-list-items.elementor-inline-items {
    marginRight: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-940 .elementor-element.elementor-element-f37c6cd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-940 .elementor-element.elementor-element-f37c6cd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-940 .elementor-element.elementor-element-f37c6cd .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-940 .elementor-element.elementor-element-f37c6cd .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-940 .elementor-element.elementor-element-f37c6cd {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-940 .elementor-element.elementor-element-f37c6cd .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-940 .elementor-element.elementor-element-f37c6cd .elementor-icon-list-item>a {
    font-family: "Inter", Sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.elementor-940 .elementor-element.elementor-element-f37c6cd .elementor-icon-list-text {
    color: #FFFCFCD6;
    transition: color 0.3s;
}

.elementor-940 .elementor-element.elementor-element-f37c6cd .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-accent);
}

.elementor-940 .elementor-element.elementor-element-f237dc9 {
    --display: flex;
}

.elementor-940 .elementor-element.elementor-element-d2866da.elementor-element {
    --align-self: flex-start;
}

.elementor-940 .elementor-element.elementor-element-d2866da .elementor-heading-title {
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-size: var( --e-global-typography-secondary-font-size);
    font-weight: var( --e-global-typography-secondary-font-weight);
    color: #FFFFFF;
}

.elementor-940 .elementor-element.elementor-element-752416a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-940 .elementor-element.elementor-element-752416a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-940 .elementor-element.elementor-element-752416a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    marginRight: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-940 .elementor-element.elementor-element-752416a .elementor-icon-list-items.elementor-inline-items {
    marginRight: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-940 .elementor-element.elementor-element-752416a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-940 .elementor-element.elementor-element-752416a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-940 .elementor-element.elementor-element-752416a .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-940 .elementor-element.elementor-element-752416a .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-940 .elementor-element.elementor-element-752416a {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-940 .elementor-element.elementor-element-752416a .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-940 .elementor-element.elementor-element-752416a .elementor-icon-list-item>a {
    font-family: "Inter", Sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.elementor-940 .elementor-element.elementor-element-752416a .elementor-icon-list-text {
    color: #FFFCFCD6;
    transition: color 0.3s;
}

.elementor-940 .elementor-element.elementor-element-752416a .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-accent);
}

.elementor-940 .elementor-element.elementor-element-f7c670a {
    --display: flex;
}

.elementor-940 .elementor-element.elementor-element-0779970.elementor-element {
    --align-self: flex-start;
}

.elementor-940 .elementor-element.elementor-element-0779970 .elementor-heading-title {
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-size: var( --e-global-typography-secondary-font-size);
    font-weight: var( --e-global-typography-secondary-font-weight);
    color: #FFFFFF;
}

.elementor-940 .elementor-element.elementor-element-d13bf84 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-940 .elementor-element.elementor-element-d13bf84 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-940 .elementor-element.elementor-element-d13bf84 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    marginRight: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-940 .elementor-element.elementor-element-d13bf84 .elementor-icon-list-items.elementor-inline-items {
    marginRight: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-940 .elementor-element.elementor-element-d13bf84 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-940 .elementor-element.elementor-element-d13bf84 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-940 .elementor-element.elementor-element-d13bf84 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-940 .elementor-element.elementor-element-d13bf84 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-940 .elementor-element.elementor-element-d13bf84 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-940 .elementor-element.elementor-element-d13bf84 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-940 .elementor-element.elementor-element-d13bf84 .elementor-icon-list-item>a {
    font-family: "Inter", Sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.elementor-940 .elementor-element.elementor-element-d13bf84 .elementor-icon-list-text {
    color: #FFFCFCD6;
    transition: color 0.3s;
}

.elementor-940 .elementor-element.elementor-element-d13bf84 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-accent);
}

.elementor-940 .elementor-element.elementor-element-2fccfbf {
    --display: flex;
}

.elementor-940 .elementor-element.elementor-element-26a34bb.elementor-element {
    --align-self: flex-start;
}

.elementor-940 .elementor-element.elementor-element-26a34bb .elementor-heading-title {
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-size: var( --e-global-typography-secondary-font-size);
    font-weight: var( --e-global-typography-secondary-font-weight);
    color: #FFFFFF;
}

.elementor-940 .elementor-element.elementor-element-1b2e6a2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-940 .elementor-element.elementor-element-1b2e6a2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-940 .elementor-element.elementor-element-1b2e6a2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    marginRight: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-940 .elementor-element.elementor-element-1b2e6a2 .elementor-icon-list-items.elementor-inline-items {
    marginRight: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-940 .elementor-element.elementor-element-1b2e6a2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-940 .elementor-element.elementor-element-1b2e6a2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-940 .elementor-element.elementor-element-1b2e6a2 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-940 .elementor-element.elementor-element-1b2e6a2 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-940 .elementor-element.elementor-element-1b2e6a2 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-940 .elementor-element.elementor-element-1b2e6a2 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-940 .elementor-element.elementor-element-1b2e6a2 .elementor-icon-list-item>a {
    font-family: "Inter", Sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.elementor-940 .elementor-element.elementor-element-1b2e6a2 .elementor-icon-list-text {
    color: #FFFCFCD6;
    transition: color 0.3s;
}

.elementor-940 .elementor-element.elementor-element-1b2e6a2 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-accent);
}

.elementor-widget-button .elementor-button {
    background-color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-940 .elementor-element.elementor-element-ab4db63 .elementor-button:hover,
.elementor-940 .elementor-element.elementor-element-ab4db63 .elementor-button:focus {
    background-color: var( --e-global-color-fe489dd);
    border-color: var( --e-global-color-accent);
}

.elementor-940 .elementor-element.elementor-element-ab4db63 .elementor-button {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #02010100;
}

.elementor-940 .elementor-element.elementor-element-6edccea {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-around;
    --align-items: center;
    border-style: solid;
    --border-style: solid;
    border-width: 02px 0px 0px 0px;
    --border-top-width: 02px;
    --border-right-width: 0px;
    --border-bottom-width: 0px;
    --border-left-width: 0px;
    border-color: #FFFFFF78;
    --border-color: #FFFFFF78;
}

.elementor-940 .elementor-element.elementor-element-213370a {
    --display: flex;
    --justify-content: center;
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-940 .elementor-element.elementor-element-34e714f {
    text-align: left;
}

.elementor-940 .elementor-element.elementor-element-34e714f img {
    width: 70%;
}

.elementor-940 .elementor-element.elementor-element-f285c1c {
    --display: flex;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
}

.elementor-widget-text-editor {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-940 .elementor-element.elementor-element-516e612.elementor-element {
    --align-self: center;
}

.elementor-940 .elementor-element.elementor-element-516e612 {
    text-align: left;
    color: var( --e-global-color-31e911c);
    font-family: "Heebo", Sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.elementor-940 .elementor-element.elementor-element-516e612 p {
    margin-bottom: 0px;
}

.elementor-940 .elementor-element.elementor-element-240cc50 {
    --display: flex;
}

.elementor-940 .elementor-element.elementor-element-d0e7c34 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 15px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-940 .elementor-element.elementor-element-d0e7c34 .elementor-widget-container {
    text-align: left;
}

.elementor-940 .elementor-element.elementor-element-d0e7c34 .elementor-social-icon {
    background-color: var( --e-global-color-31e911c);
}

.elementor-940 .elementor-element.elementor-element-d0e7c34 .elementor-social-icon i {
    color: var( --e-global-color-fe489dd);
}

.elementor-940 .elementor-element.elementor-element-d0e7c34 .elementor-social-icon svg {
    fill: var( --e-global-color-fe489dd);
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(min-width:768px) {
    .elementor-940 .elementor-element.elementor-element-d67f9ca {
        --width: 24%;
    }
    .elementor-940 .elementor-element.elementor-element-f237dc9 {
        --width: 24%;
    }
    .elementor-940 .elementor-element.elementor-element-f7c670a {
        --width: 24%;
    }
    .elementor-940 .elementor-element.elementor-element-2fccfbf {
        --width: 24%;
    }
    .elementor-940 .elementor-element.elementor-element-213370a {
        --width: 20%;
    }
    .elementor-940 .elementor-element.elementor-element-f285c1c {
        --width: 50%;
    }
    .elementor-940 .elementor-element.elementor-element-240cc50 {
        --width: 20%;
    }
}

@media(max-width:1024px) {
    .elementor-widget-heading .elementor-heading-title {
        font-size: var( --e-global-typography-primary-font-size);
    }
    .elementor-940 .elementor-element.elementor-element-4d125ca .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size);
    }
    .elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-widget-icon-list .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-940 .elementor-element.elementor-element-d2866da .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size);
    }
    .elementor-940 .elementor-element.elementor-element-0779970 .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size);
    }
    .elementor-940 .elementor-element.elementor-element-26a34bb .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size);
    }
    .elementor-widget-button .elementor-button {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-widget-image .widget-image-caption {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-widget-text-editor {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-940 .elementor-element.elementor-element-516e612 {
        font-size: 16px;
    }
}

@media(max-width:767px) {
    .elementor-widget-heading .elementor-heading-title {
        font-size: var( --e-global-typography-primary-font-size);
    }
    .elementor-940 .elementor-element.elementor-element-4d125ca .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size);
    }
    .elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-widget-icon-list .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-940 .elementor-element.elementor-element-f37c6cd .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-940 .elementor-element.elementor-element-f37c6cd .elementor-icon-list-item>a {
        font-size: 14px;
    }
    .elementor-940 .elementor-element.elementor-element-d2866da .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size);
    }
    .elementor-940 .elementor-element.elementor-element-752416a .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-940 .elementor-element.elementor-element-752416a .elementor-icon-list-item>a {
        font-size: 14px;
    }
    .elementor-940 .elementor-element.elementor-element-0779970 .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size);
    }
    .elementor-940 .elementor-element.elementor-element-d13bf84 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-940 .elementor-element.elementor-element-d13bf84 .elementor-icon-list-item>a {
        font-size: 14px;
    }
    .elementor-940 .elementor-element.elementor-element-26a34bb .elementor-heading-title {
        font-size: var( --e-global-typography-secondary-font-size);
    }
    .elementor-940 .elementor-element.elementor-element-1b2e6a2 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-940 .elementor-element.elementor-element-1b2e6a2 .elementor-icon-list-item>a {
        font-size: 14px;
    }
    .elementor-widget-button .elementor-button {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-widget-image .widget-image-caption {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-widget-text-editor {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-940 .elementor-element.elementor-element-516e612 {
        font-size: 15px;
    }
}