.elementor-352 .elementor-element.elementor-element-4462b03 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}

.elementor-widget-nested-tabs.elementor-widget-n-tabs>.elementor-widget-container>.e-n-tabs[data-touch-mode='false']>.e-n-tabs-heading>.e-n-tab-title[aria-selected="false"]:hover {
    background: var( --e-global-color-accent);
}

.elementor-widget-nested-tabs.elementor-widget-n-tabs>.elementor-widget-container>.e-n-tabs>.e-n-tabs-heading>.e-n-tab-title[aria-selected="true"],
.elementor-widget-nested-tabs.elementor-widget-n-tabs>.elementor-widget-container>.e-n-tabs[data-touch-mode='true']>.e-n-tabs-heading>.e-n-tab-title[aria-selected="false"]:hover {
    background: var( --e-global-color-accent);
}

.elementor-widget-nested-tabs.elementor-widget-n-tabs>.elementor-widget-container>.e-n-tabs>.e-n-tabs-heading> :is( .e-n-tab-title > .e-n-tab-title-text, .e-n-tab-title) {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-widget-nested-tabs {
    --n-tabs-title-font-size: var( --e-global-typography-accent-font-size);
}

.elementor-352 .elementor-element.elementor-element-442f990 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-352 .elementor-element.elementor-element-0f85cef {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --gap: 20px 20px;
    --row-gap: 20px;
    --column-gap: 20px;
    --padding-top: 50px;
    --padding-bottom: 10px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-352 .elementor-element.elementor-element-526b2f5 {
    --display: flex;
    --justify-content: flex-start;
    --align-items: flex-start;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --marginRight: 0px;
    --padding-top: 150px;
    --padding-bottom: 100px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-size: var( --e-global-typography-primary-font-size);
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-352 .elementor-element.elementor-element-684da40 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: var( --e-global-color-31e911c);
}

.elementor-widget-text-editor {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-352 .elementor-element.elementor-element-7467d7e {
    --display: flex;
    border-style: none;
    --border-style: none;
    --border-radius: 13px 13px 13px 13px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-352 .elementor-element.elementor-element-7467d7e:not(.elementor-motion-effects-element-type-background),
.elementor-352 .elementor-element.elementor-element-7467d7e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #031E41;
}

.elementor-352 .elementor-element.elementor-element-1d46ae6 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-352 .elementor-element.elementor-element-124248a>.elementor-widget-container {
    padding: 10px 10px 10px 10px;
}

.elementor-352 .elementor-element.elementor-element-124248a {
    font-family: "Inter Tight", Sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.elementor-352 .elementor-element.elementor-element-124248a p {
    margin-bottom: 0px;
}

.elementor-352 .elementor-element.elementor-element-94c6113 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-352 .elementor-element.elementor-element-f2a2b0e>.elementor-widget-container {
    padding: 10px 10px 10px 10px;
}

.elementor-352 .elementor-element.elementor-element-f2a2b0e {
    font-family: "Inter Tight", Sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.elementor-352 .elementor-element.elementor-element-f2a2b0e p {
    margin-bottom: 0px;
}

.elementor-352 .elementor-element.elementor-element-5a04a38 {
    --n-accordion-title-font-size: 16px;
    --n-accordion-title-justify-content: space-between;
    --n-accordion-title-flex-grow: 1;
    --n-accordion-title-icon-order: initial;
    --n-accordion-item-title-space-between: 0px;
    --n-accordion-item-title-distance-from-content: 0px;
    --n-accordion-border-radius: 13px 13px 13px 13px;
    --n-accordion-title-normal-color: var( --e-global-color-31e911c);
    --n-accordion-title-hover-color: var( --e-global-color-text);
    --n-accordion-title-active-color: var( --e-global-color-secondary);
    --n-accordion-icon-size: 15px;
    --n-accordion-icon-normal-color: var( --e-global-color-text);
    --n-accordion-icon-hover-color: var( --e-global-color-accent);
    --n-accordion-icon-active-color: var( --e-global-color-accent);
}

.elementor-352 .elementor-element.elementor-element-5a04a38>.elementor-widget-container>.e-n-accordion>.e-n-accordion-item>.e-n-accordion-item-title {
    background-color: #031E4100;
    border-style: none;
}

:where( .elementor-352 .elementor-element.elementor-element-5a04a38 > .elementor-widget-container > .e-n-accordion > .e-n-accordion-item > .e-n-accordion-item-title > .e-n-accordion-item-title-header)>.e-n-accordion-item-title-text {
    font-family: "Heebo", Sans-serif;
    font-weight: 600;
}

:where( .elementor-352 .elementor-element.elementor-element-5a04a38 > .elementor-widget-container > .e-n-accordion > .e-n-accordion-item)>.e-con {
    border-style: none;
}

.elementor-352 .elementor-element.elementor-element-12b7eae {
    --display: flex;
    border-style: solid;
    --border-style: solid;
    border-width: 1px 1px 1px 1px;
    --border-top-width: 1px;
    --border-right-width: 1px;
    --border-bottom-width: 1px;
    --border-left-width: 1px;
    border-color: #14B69E94;
    --border-color: #14B69E94;
    --border-radius: 13px 13px 13px 13px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 50px;
    --padding-right: 50px;
}

.elementor-352 .elementor-element.elementor-element-12b7eae:not(.elementor-motion-effects-element-type-background),
.elementor-352 .elementor-element.elementor-element-12b7eae>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-secondary);
}

.elementor-352 .elementor-element.elementor-element-a630468 {
    text-align: center;
}

.elementor-352 .elementor-element.elementor-element-a630468 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.elementor-352 .elementor-element.elementor-element-7562298 {
    text-align: center;
    color: var( --e-global-color-b870b8f);
}

.elementor-352 .elementor-element.elementor-element-7562298 p {
    margin-bottom: 0px;
}

.elementor-widget-form .elementor-field-group>label,
.elementor-widget-form .elementor-field-subgroup label {
    color: var( --e-global-color-text);
}

.elementor-widget-form .elementor-field-group>label {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-form .elementor-field-type-html {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-form .elementor-field-group .elementor-field {
    color: var( --e-global-color-text);
}

.elementor-widget-form .elementor-field-group .elementor-field,
.elementor-widget-form .elementor-field-subgroup label {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-form .elementor-button {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-widget-form .e-form__buttons__wrapper__button-next {
    background-color: var( --e-global-color-accent);
}

.elementor-widget-form .elementor-button[type="submit"] {
    background-color: var( --e-global-color-accent);
}

.elementor-widget-form .e-form__buttons__wrapper__button-previous {
    background-color: var( --e-global-color-accent);
}

.elementor-widget-form .elementor-message {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-form .e-form__indicators__indicator,
.elementor-widget-form .e-form__indicators__indicator__label {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-widget-form {
    --e-form-steps-indicator-inactive-primary-color: var( --e-global-color-text);
    --e-form-steps-indicator-active-primary-color: var( --e-global-color-accent);
    --e-form-steps-indicator-completed-primary-color: var( --e-global-color-accent);
    --e-form-steps-indicator-progress-color: var( --e-global-color-accent);
    --e-form-steps-indicator-progress-background-color: var( --e-global-color-text);
    --e-form-steps-indicator-progress-meter-color: var( --e-global-color-text);
}

.elementor-widget-form .e-form__indicators__indicator__progress__meter {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-field-group {
    padding-right: calc( 8px/2);
    padding-left: calc( 8px/2);
    margin-bottom: 8px;
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-form-fields-wrapper {
    margin-left: calc( -8px/2);
    marginRight: calc( -8px/2);
    margin-bottom: -8px;
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-labels-inline .elementor-field-group>label {
    padding-left: 10px;
}

body:not(.rtl) .elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-labels-inline .elementor-field-group>label {
    padding-right: 10px;
}

body .elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 10px;
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-field-group>label,
.elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-field-subgroup label {
    color: var( --e-global-color-b870b8f);
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-field-group>label {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-field-group .elementor-field {
    color: var( --e-global-color-ef19e03);
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: var( --e-global-color-text);
    border-width: 0px 0px 0px 0px;
    border-radius: 5px 5px 5px 5px;
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-field-group .elementor-select-wrapper select {
    background-color: var( --e-global-color-text);
    border-width: 0px 0px 0px 0px;
    border-radius: 5px 5px 5px 5px;
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-message.elementor-message-success {
    color: var( --e-global-color-accent);
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-message.elementor-message-danger {
    color: var( --e-global-color-accent);
}

.elementor-352 .elementor-element.elementor-element-e2a8ddb {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-352 .elementor-element.elementor-element-6a72da5 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-352 .elementor-element.elementor-element-3bada8d {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --gap: 20px 20px;
    --row-gap: 20px;
    --column-gap: 20px;
    --padding-top: 50px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-352 .elementor-element.elementor-element-fb42273 {
    --display: flex;
    --justify-content: flex-start;
    --align-items: flex-start;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --marginRight: 0px;
    --padding-top: 150px;
    --padding-bottom: 100px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-352 .elementor-element.elementor-element-c6dd707 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: var( --e-global-color-31e911c);
}

.elementor-352 .elementor-element.elementor-element-1a18abe {
    --display: flex;
    border-style: solid;
    --border-style: solid;
    border-width: 1px 1px 1px 1px;
    --border-top-width: 1px;
    --border-right-width: 1px;
    --border-bottom-width: 1px;
    --border-left-width: 1px;
    border-color: #14B69E94;
    --border-color: #14B69E94;
    --border-radius: 13px 13px 13px 13px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 50px;
    --padding-right: 50px;
}

.elementor-352 .elementor-element.elementor-element-1a18abe:not(.elementor-motion-effects-element-type-background),
.elementor-352 .elementor-element.elementor-element-1a18abe>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-secondary);
}

.elementor-352 .elementor-element.elementor-element-84e6760 {
    text-align: center;
}

.elementor-352 .elementor-element.elementor-element-84e6760 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.elementor-352 .elementor-element.elementor-element-420f7fb {
    text-align: center;
    color: var( --e-global-color-b870b8f);
}

.elementor-352 .elementor-element.elementor-element-420f7fb p {
    margin-bottom: 0px;
}

.elementor-352 .elementor-element.elementor-element-b376312 .elementor-field-group {
    padding-right: calc( 8px/2);
    padding-left: calc( 8px/2);
    margin-bottom: 8px;
}

.elementor-352 .elementor-element.elementor-element-b376312 .elementor-form-fields-wrapper {
    margin-left: calc( -8px/2);
    marginRight: calc( -8px/2);
    margin-bottom: -8px;
}

.elementor-352 .elementor-element.elementor-element-b376312 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-352 .elementor-element.elementor-element-b376312 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-352 .elementor-element.elementor-element-b376312 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 10px;
}

body:not(.rtl) .elementor-352 .elementor-element.elementor-element-b376312 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 10px;
}

body .elementor-352 .elementor-element.elementor-element-b376312 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 10px;
}

.elementor-352 .elementor-element.elementor-element-b376312 .elementor-field-group>label,
.elementor-352 .elementor-element.elementor-element-b376312 .elementor-field-subgroup label {
    color: var( --e-global-color-b870b8f);
}

.elementor-352 .elementor-element.elementor-element-b376312 .elementor-field-group>label {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-352 .elementor-element.elementor-element-b376312 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-352 .elementor-element.elementor-element-b376312 .elementor-field-group .elementor-field {
    color: var( --e-global-color-ef19e03);
}

.elementor-352 .elementor-element.elementor-element-b376312 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: var( --e-global-color-text);
    border-width: 0px 0px 0px 0px;
    border-radius: 5px 5px 5px 5px;
}

.elementor-352 .elementor-element.elementor-element-b376312 .elementor-field-group .elementor-select-wrapper select {
    background-color: var( --e-global-color-text);
    border-width: 0px 0px 0px 0px;
    border-radius: 5px 5px 5px 5px;
}

.elementor-352 .elementor-element.elementor-element-b376312 .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-352 .elementor-element.elementor-element-b376312 .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-352 .elementor-element.elementor-element-b376312 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-352 .elementor-element.elementor-element-b376312 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-352 .elementor-element.elementor-element-b376312 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-352 .elementor-element.elementor-element-b376312 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-352 .elementor-element.elementor-element-b376312 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-352 .elementor-element.elementor-element-b376312 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-352 .elementor-element.elementor-element-b376312 .elementor-message.elementor-message-success {
    color: var( --e-global-color-accent);
}

.elementor-352 .elementor-element.elementor-element-b376312 .elementor-message.elementor-message-danger {
    color: var( --e-global-color-accent);
}

.elementor-352 .elementor-element.elementor-element-b376312 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-352 .elementor-element.elementor-element-0478cd0 {
    --n-tabs-direction: column;
    --n-tabs-heading-direction: row;
    --n-tabs-heading-width: initial;
    --n-tabs-title-flex-basis: content;
    --n-tabs-title-flex-shrink: 0;
    --n-tabs-heading-justify-content: flex-start;
    --n-tabs-title-width: initial;
    --n-tabs-title-height: initial;
    --n-tabs-title-align-items: center;
    --n-tabs-title-flex-grow: 0;
    --n-tabs-heading-wrap: wrap;
    --n-tabs-heading-overflow-x: initial;
    --n-tabs-title-white-space: initial;
    width: 100%;
    max-width: 100%;
    --n-tabs-title-gap: 10px;
    --n-tabs-gap: 0px;
    --n-tabs-title-border-radius: 15px 15px 15px 15px;
    --n-tabs-title-padding-top: 10px;
    --n-tabs-title-padding-right: 20px;
    --n-tabs-title-padding-bottom: 10px;
    --n-tabs-title-padding-left: 20px;
    --n-tabs-title-color: #FFFFFF;
    --n-tabs-title-color-active: var( --e-global-color-80348f0);
}

.elementor-352 .elementor-element.elementor-element-0478cd0>.elementor-widget-container>.e-n-tabs>.e-n-tabs-heading>.e-n-tab-title[aria-selected='false']:not( :hover) {
    background: var( --e-global-color-80348f0);
}

.elementor-352 .elementor-element.elementor-element-0478cd0.elementor-widget-n-tabs>.elementor-widget-container>.e-n-tabs>.e-n-tabs-heading>.e-n-tab-title[aria-selected="true"],
.elementor-352 .elementor-element.elementor-element-0478cd0.elementor-widget-n-tabs>.elementor-widget-container>.e-n-tabs[data-touch-mode='true']>.e-n-tabs-heading>.e-n-tab-title[aria-selected="false"]:hover {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-352 .elementor-element.elementor-element-0478cd0>.elementor-widget-container {
    margin: 50px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-352 .elementor-element.elementor-element-0478cd0.elementor-widget-n-tabs>.elementor-widget-container>.e-n-tabs>.e-n-tabs-heading>.e-n-tab-title[aria-selected="false"]:not( :hover) {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

body.elementor-page-352:not(.elementor-motion-effects-element-type-background),
body.elementor-page-352>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-fe489dd);
}

@media(min-width:768px) {
    .elementor-352 .elementor-element.elementor-element-526b2f5 {
        --width: 45%;
    }
    .elementor-352 .elementor-element.elementor-element-12b7eae {
        --width: 45%;
    }
    .elementor-352 .elementor-element.elementor-element-fb42273 {
        --width: 45%;
    }
    .elementor-352 .elementor-element.elementor-element-1a18abe {
        --width: 45%;
    }
}

@media(max-width:1024px) {
    .elementor-widget-nested-tabs {
        --n-tabs-title-font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-widget-heading .elementor-heading-title {
        font-size: var( --e-global-typography-primary-font-size);
    }
    .elementor-352 .elementor-element.elementor-element-684da40 .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-widget-text-editor {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-352 .elementor-element.elementor-element-e8ca177 {
        text-align: center;
    }
    .elementor-352 .elementor-element.elementor-element-e8ca177 p {
        margin-bottom: 0px;
    }
    .elementor-352 .elementor-element.elementor-element-5a04a38 {
        --n-accordion-title-font-size: 16px;
    }
    .elementor-352 .elementor-element.elementor-element-a630468 .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-widget-form .elementor-field-group>label {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-widget-form .elementor-field-type-html {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-widget-form .elementor-field-group .elementor-field,
    .elementor-widget-form .elementor-field-subgroup label {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-widget-form .elementor-button {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-widget-form .elementor-message {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-widget-form .e-form__indicators__indicator,
    .elementor-widget-form .e-form__indicators__indicator__label {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-widget-form .e-form__indicators__indicator__progress__meter {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-field-group>label {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-352 .elementor-element.elementor-element-c6dd707 .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-352 .elementor-element.elementor-element-9c9d6cb {
        text-align: center;
    }
    .elementor-352 .elementor-element.elementor-element-9c9d6cb p {
        margin-bottom: 0px;
    }
    .elementor-352 .elementor-element.elementor-element-84e6760 .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-352 .elementor-element.elementor-element-b376312 .elementor-field-group>label {
        font-size: var( --e-global-typography-accent-font-size);
    }
}

@media(max-width:767px) {
    .elementor-widget-nested-tabs {
        --n-tabs-title-font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-widget-heading .elementor-heading-title {
        font-size: var( --e-global-typography-primary-font-size);
    }
    .elementor-352 .elementor-element.elementor-element-684da40 .elementor-heading-title {
        font-size: 24px;
    }
    .elementor-widget-text-editor {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-352 .elementor-element.elementor-element-124248a {
        font-size: 14px;
    }
    .elementor-352 .elementor-element.elementor-element-f2a2b0e {
        font-size: 14px;
    }
    .elementor-352 .elementor-element.elementor-element-5a04a38 {
        --n-accordion-title-font-size: 15px;
    }
    .elementor-352 .elementor-element.elementor-element-a630468 .elementor-heading-title {
        font-size: 24px;
    }
    .elementor-widget-form .elementor-field-group>label {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-widget-form .elementor-field-type-html {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-widget-form .elementor-field-group .elementor-field,
    .elementor-widget-form .elementor-field-subgroup label {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-widget-form .elementor-button {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-widget-form .elementor-message {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-widget-form .e-form__indicators__indicator,
    .elementor-widget-form .e-form__indicators__indicator__label {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-widget-form .e-form__indicators__indicator__progress__meter {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-352 .elementor-element.elementor-element-e2a8ddb .elementor-field-group>label {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-352 .elementor-element.elementor-element-c6dd707 .elementor-heading-title {
        font-size: 24px;
    }
    .elementor-352 .elementor-element.elementor-element-84e6760 .elementor-heading-title {
        font-size: 24px;
    }
    .elementor-352 .elementor-element.elementor-element-b376312 .elementor-field-group>label {
        font-size: var( --e-global-typography-accent-font-size);
    }
}